*{
	margin: 0;
	padding:0;
}
.page-header{
	float: right;
	clear: both;
}
.page-header nav a {
	margin: 0 20px 0 0;

}
.page-header nav a:last-child{
	text-decoration:none;
	background-color: #FFFFFF;
	margin: 0 2px 0 19px;
}
.page-header nav a:not(#MoreProduct){
	color: #333333;
}
